body {
    margin: 0;
}

.div_card {
    width: 500px;
    height: fit-content;
    border: solid 3px;
    border-radius: 25px;
    background-color: #f0f8ff;
    margin: 10px;
}

.card_textContainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.card_imageContainer {
    width: 100px;
    border-radius: 50%;
}

.card_imageContainer img {
    width: 75%;
    height: 75%;
}

.card_title  {
    font-size: 35px;
}

.card_title span {
    color: #09ad53;
}
/*OU*/
/*.card_title span {
    color: #09ad53
}         */

.card_message span {
    font-style: italic;
    color: #ff0000;
}